/* Default styles for larger screens */
.offers {
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
}

.offers-left {
    margin-top: 5%;
    flex: 1;
}

.offers-left h1 {
    color: #171717;
    font-size: 60px;
    font-weight: 600;
}

.offers-left p {
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}

.offers-left button {
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}

.offers-right {
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    padding-top: 50px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .offers {
        width: 90%;
        padding: 0px 20px;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .offers-left {
        margin-top: 5%;
        text-align: center;
    }

    .offers-left h1 {
        font-size: 40px;
    }

    .offers-left p {
        font-size: 18px;
    }

    .offers-left button {
        width: 200px;
        height: 50px;
        font-size: 16px;
        margin-top: 20px;
    }

    .offers-right {
        padding-top: 20px;
    }

    
    @media screen and (max-width: 500px) {
        .offers-left h1 {
            font-size: 30px;
        }

        .offers-left p {
            font-size: 16px;
        }

        .offers-left button {
            width: 150px;
            height: 40px;
            font-size: 14px;
            margin-top: 15px;
        }
    }

   
    @media screen and (max-width: 300px) {
        .offers-left h1 {
            font-size: 25px;
        }

        .offers-left p {
            font-size: 14px;
        }

        .offers-left button {
            width: 120px;
            height: 35px;
            font-size: 12px;
            margin-top: 10px;
        }
    }
}
