/* Default styles for larger screens */
.popular {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5%;
}

.popular h1 {
    color: #171717;
    font-size: 40px;
    font-weight: 600;
    align-self: center;
}

.popular hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
    align-self: center;
}

.popular-item {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    margin-left: 4%;
}


@media screen and (max-width: 768px) {
    .popular {
        margin-bottom: 10%;
      
    }

    .popular h1 {
        font-size: 32px;
        text-align: center;
    }

    .popular-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-left: 2%;
    }
}

@media screen and (max-width: 500px) {
    .popular {
        margin-bottom: 10%;
      
    }

    .popular h1 {
        font-size: 32px;
        text-align: center;
    }

    .popular-item {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        margin-left: 2%;
    }
}
